@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #000;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 100px;
    padding-top: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 25px;
    list-style-type: none;
    position: fixed;
}

.img-topo {
    height: 25px; /* Altura */
}

video {
    width: 100vw; /* Largura */
    min-height: 80vh; /* Altura */
}

/* VW = Minha tela e dividir em 100 pedaços */
/* VH = partir a tela em 100 pedalos e se eu pegar 1 VH é 1 porcento da tela*/

.capa {
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 35%;    
    z-index: 3;
}

.capa-titulo {
    color: white;
    font-size: 80px;
    margin-bottom: 5px;
    font-weight: bold;
}

.capa-descricao {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;    
}

.link-assistir {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

a.link-info {
    color: black!important;
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;
}

.imagem-carrosel {
    height: 150px;
}

#carouselExampleControls {
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.titulo-carrosel {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.botao-som {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 100px;
    right: 20px;
}

.modal {
    display: none;
    /* Display Block (Bloco - Ele aparece na tela */
    /* Display None (Desaparece da Tela */
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-conteudo {
    background-color: #181818;
    margin: 30px auto;
    padding: 20px;
    width: 60%;
    color: white;

}

/* Classe = .
   ID = #
*/ 